<ion-content class="detail">

  <div class="background">
    <img [src]="imgBackground" alt="img">
    <h2>Gerson</h2>
  </div>

  <div class="ion-padding detail">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, sequi? Consequuntur, aliquid? Autem, omnis laboriosam illo nemo doloribus numquam rerum saepe ut iure a velit odit officia, temporibus quas possimus!</p>

    <hr>

    <ion-chip color="twitter" button>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-chip>

    <ion-chip color="dark" button>
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>GitHub</ion-label>
    </ion-chip>

    <ion-chip color="instagram">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-chip>

    <hr>

    <ion-button expand="block" color="primary">
      Log-out
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>