/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// backgrounds //
.bg-white {
  background-color: #fff;
  color: #000;
}

.bg-light {
  background-color: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
}

.bg-dark {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-dark-contrast);
}

.bg-primary {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.bg-secondary {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
}

.bg-tertiary {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
}

.bg-profile {
  background-image: linear-gradient(
    180deg,
    var(--ion-color-dark),
    var(--ion-color-primary)
  );
  color: var(--ion-color-primary-contrast);
}

.bg-main {
  background-image: linear-gradient(
    -135deg,
    var(--ion-color-medium),
    var(--ion-color-light)
  );
  color: var(--ion-color-dark-contrast);
}

// Helpers //
.w100 {
  width: 100%;
}

.bold,
.fw500 {
  font-weight: 500 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.text08 {
  font-size: 0.8rem;
}

.text1 {
  font-size: 1rem !important;
}

.text12 {
  font-size: 1.2rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text-white {
  color: #fff;
}

.text-primary {
  color: var(--ion-color-primary);
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.text-dark {
  color: var(--ion-color-dark);
}
