.swiper-container {
    width: auto;
    margin: 5px;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
    border-radius: 15px;
}

.swiper-pagination-test {
    position: initial;
}

.categories ion-avatar {
    margin-left: auto;
    margin-right: auto;
}